X_BEARER_TOKEN=paste-your-bearer-token-here
X_USERNAME=_bobertdowney
X_POST_LIMIT=5
X_FOLLOWING_USERNAMES=example_user,another_user
X_FOLLOWING_POST_LIMIT=8
JAPAN_NEWS_SOURCE_URL=https://www3.nhk.or.jp/nhkworld/data/en/news/all.json
JAPAN_NEWS_LIMIT=5
