body {
  font-family: 'Verdana';
  font-size: 10pt;
  padding: 8pt;
  color: black;
  line-height: 1.4em;
}

div.contact-info {
  padding-bottom: 8pt;
}

div.hero {
  text-align: center;
  padding-bottom: 12pt;
}

div.hero img {
  max-width: 100%;
  height: auto;
  display: block;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

div.intro {
  padding-bottom: 12pt;
}

div.contact-info > em {
  font-weight: bold;
  font-style: normal;
}

div.tagline {
  padding-bottom: 8pt;
}

span.company, span.school-name {
  font-weight: bold;
}

div.job {
  padding-bottom: 8pt;
}

div.job-metadata {
  padding-bottom: 3pt;
}

ul.accomplishments {
  padding-top: 2pt;
  padding-bottom: 0pt;
}

div.role-description {
  font-style: italic;
}

div.overview {
  padding-top: 3pt;
}

ul {
  padding: 5pt 0pt 12pt 8pt;
  margin: 0 8pt 0 8pt;
}

div.section-title {
  font-weight: bold;
  padding-bottom: 5pt;
  color: #2b49aa;
}

div.jobs {
  padding-bottom: 2pt;
}

div.school {
  padding-bottom: 2pt;
}

div.education {
  padding-bottom: 10pt;
}

div.patents {
  padding-bottom: 10pt;
}